body{
		font-family: monospace;
		background-image: url('../assets/image/bg.jpg');
	}
.search{
	margin-right: 10px;
	color: #14be5c;
}
.search:hover{
	color: white;
	background-color: #14be5c;
}
.login:hover{
	color: white;
}
a:hover{
	color: white;
}
a{
	color: #14be5c;
}
nav{
	background-color:  #14be5c;

}

.card{
	font-size: 16px;
	border-color: #14be5c;

}
.kotak{
	display: inline;
	float: left;
}
